.image-upload {
  display: flex;
  max-width: 800px;
  border-top: 1px solid lightgray;
  padding: 10px;
  justify-content: center;

  .image-upload-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    height: 120px;
    justify-content: space-between;
  }
  progress {
    width: 100%;
  }
}
