* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: #fafafa;

  .app-header {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    //margin-bottom: 30px;
    background: white;

    img {
      background: white;
      object-fit: contain;
    }
  }
  .app-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-posts {
    padding: 20px;
  }
  h3 {
    padding: 20px;
  }
}
